<?xml version="1.0"?>
<sdf version="1.11" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <world name="test_sea">
    <xacro:include filename="sys_plugin_common.sdf" />
    <xacro:include filename="sys_plugin_blobfish.sdf" />

    <gui>
      <xacro:include filename="gui_plugin_common.sdf" />
      <xacro:include filename="gui_plugin_blobfish.sdf" />
    </gui>

    <plugin filename="gz-sim-buoyancy-system" name="gz::sim::systems::Buoyancy">
      <!--<uniform_fluid_density>1000</uniform_fluid_density>-->
      <graded_buoyancy>
        <default_density>1000</default_density>
        <density_change>
          <above_depth>0</above_depth>
          <density>1</density>
        </density_change>
      </graded_buoyancy>
    </plugin>

    <light type="directional" name="sun">
      <cast_shadows>true</cast_shadows>
      <pose>0 0 10 0 0 0</pose>
      <diffuse>0.8 0.8 0.8 1</diffuse>
      <specular>0.2 0.2 0.2 1</specular>
      <attenuation>
        <range>1000</range>
        <constant>0.9</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <direction>-0.5 0.1 -0.9</direction>
    </light>

    <!-- This invisible plane helps with orbiting the camera, especially at large scales -->
    <model name="horizontal_plane">
      <static>true</static>
      <pose>0 0 -2.5 0 0 0</pose>
      <link name="link">
        <visual name="visual">
          <geometry>
            <plane>
              <normal>0 0 1</normal>
              <!-- 300 km x 300 km -->
              <size>300000 300000</size>
            </plane>
          </geometry>
          <transparency>1.0</transparency>
        </visual>
      </link>
    </model>

    <include>
      <name>pool</name>
      <uri>model://swimming_pool</uri>
      <pose>0 0 0 0 0 0</pose>
    </include>

    <include>
      <name>blobfish</name>
      <pose>0 0 0 0 0 0</pose>
      <uri>model://blobsimp</uri>
    </include>

    <include>
      <name>cube</name>
      <pose>3 0 0 0 0 0</pose>
      <uri>model://wood_cube</uri>
    </include>
  </world>
</sdf>
