<?xml version="1.0"?>
<model>
  <name>Simple Thruster</name>
  <version>0.0.1</version>
  <sdf version="1.11">model.sdf</sdf>
  <author>
    <name>John-Henry Lim</name>
    <email>user@example.com</email>
  </author>
  <description>Fusion 360 exported thruster model based on T200 Thruster.</description>
</model>
