<?xml version="1.0"?>
<model>
  <name>FirWoodCube</name>
  <version>0.0.1</version>
  <sdf version="1.11">model.sdf</sdf>
  <author>
    <name>John-Henry Lim</name>
    <email>hyphen@interpause.dev</email>
  </author>
  <description>Floaty wood cube for hydrodynamics testing purposes.</description>
</model>
