<?xml version="1.0"?>
<sdf version="1.11" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="xacro/chassis.sdf" />
  <xacro:include filename="xacro/thruster.sdf" />

  <xacro:macro name="fixed_joint" params="parent child">
    <joint name="${parent}->${child}_joint" type="fixed">
      <parent>${parent}</parent>
      <child>${child}</child>
    </joint>
  </xacro:macro>

  <xacro:macro name="thruster" params="name pose">
    <xacro:create_thruster name="${name}" pose="${pose}" />
    <xacro:fixed_joint parent="chassis" child="${name}" />
  </xacro:macro>

  <model name="blobfish">
    <xacro:create_chassis name="chassis" />
    <xacro:thruster name="FL" pose="0.18 0.15 0 0 0 0" />
    <xacro:thruster name="FR" pose="0.18 -0.15 0 0 0 0" />
    <xacro:thruster name="ML" pose="-0.045 0.15 0.02 0 -90 0" />
    <xacro:thruster name="MR" pose="-0.045 -0.15 0.02 0 -90 0" />
    <xacro:thruster name="BL" pose="-0.27 0.15 0 0 0 180" />
    <xacro:thruster name="BR" pose="-0.27 -0.15 0 0 0 180" />
    <xacro:thruster name="BM" pose="-0.325 0 0.13 0 -90 0" />
  </model>
</sdf>
