<?xml version="1.0"?>
<sdf version="1.11" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="xacro/chassis.sdf" />
  <xacro:include filename="xacro/thruster.sdf" />

  <xacro:macro name="fixed_joint" params="parent child">
    <joint name="${parent}->${child}_joint" type="fixed">
      <parent>${parent}</parent>
      <child>${child}</child>
    </joint>
  </xacro:macro>

  <xacro:macro name="thruster" params="name pose">
    <xacro:create_thruster name="${name}" pose="${pose}" />
    <xacro:fixed_joint parent="chassis" child="${name}" />
  </xacro:macro>

  <model name="blobfish">
    <xacro:create_chassis name="chassis" />
    <xacro:thruster name="FL" pose="0.18 0.15 0 0 0 0" />
    <xacro:thruster name="FR" pose="0.18 -0.15 0 0 0 0" />
    <xacro:thruster name="ML" pose="-0.045 0.15 0.02 0 -90 0" />
    <xacro:thruster name="MR" pose="-0.045 -0.15 0.02 0 -90 0" />
    <xacro:thruster name="BL" pose="-0.27 0.15 0 0 0 180" />
    <xacro:thruster name="BR" pose="-0.27 -0.15 0 0 0 180" />
    <xacro:thruster name="BM" pose="-0.325 0 0.13 0 -90 0" />

    <!-- Exact Pose -->
    <plugin filename="gz-sim-pose-publisher-system" name="gz::sim::systems::PosePublisher">
      <publish_link_pose>false</publish_link_pose>
      <publish_visual_pose>false</publish_visual_pose>
      <publish_collision_pose>false</publish_collision_pose>
      <publish_sensor_pose>false</publish_sensor_pose>
      <publish_model_pose>true</publish_model_pose>
      <!-- Below must enable to publish model pose, tho it publishes nested ones too. -->
      <publish_nested_model_pose>true</publish_nested_model_pose>
      <use_pose_vector_msg>true</use_pose_vector_msg>
      <static_publisher>false</static_publisher>
      <update_frequency>800</update_frequency>
    </plugin>
  </model>
</sdf>
